ucc/App_WebReferences/WDFI/UCCFiling.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UCCFiling" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUCCFiling_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://dccs-bulkapi-stage.wdfi.org/UCCBulkFiling.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://dccs-bulkapi-stage.wdfi.org/UCCBulkFiling.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUCCFiling_Filing_InputMessage">
    <wsdl:part name="parameters" element="tns:Filing" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_Filing_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilingResponse" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_StatusRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:StatusRequest" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_StatusRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_RetrieveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocument" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_RetrieveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_RetrieveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveImage" />
  </wsdl:message>
  <wsdl:message name="IUCCFiling_RetrieveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IUCCFiling">
    <wsdl:operation name="Filing">
      <wsdl:input wsaw:Action="http://tempuri.org/IUCCFiling/Filing" message="tns:IUCCFiling_Filing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUCCFiling/FilingResponse" message="tns:IUCCFiling_Filing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StatusRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUCCFiling/StatusRequest" message="tns:IUCCFiling_StatusRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUCCFiling/StatusRequestResponse" message="tns:IUCCFiling_StatusRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IUCCFiling/RetrieveDocument" message="tns:IUCCFiling_RetrieveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUCCFiling/RetrieveDocumentResponse" message="tns:IUCCFiling_RetrieveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUCCFiling/RetrieveImage" message="tns:IUCCFiling_RetrieveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUCCFiling/RetrieveImageResponse" message="tns:IUCCFiling_RetrieveImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUCCFiling" type="tns:IUCCFiling">
    <wsp:PolicyReference URI="#WSHttpBinding_IUCCFiling_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Filing">
      <soap12:operation soapAction="http://tempuri.org/IUCCFiling/Filing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusRequest">
      <soap12:operation soapAction="http://tempuri.org/IUCCFiling/StatusRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <soap12:operation soapAction="http://tempuri.org/IUCCFiling/RetrieveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImage">
      <soap12:operation soapAction="http://tempuri.org/IUCCFiling/RetrieveImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UCCFiling">
    <wsdl:port name="WSHttpBinding_IUCCFiling" binding="tns:WSHttpBinding_IUCCFiling">
      <soap12:address location="https://dccs-bulkapi-stage.wdfi.org/UCCBulkFiling.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://dccs-bulkapi-stage.wdfi.org/UCCBulkFiling.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>